html {
  min-height: 100%;
  position: relative;
}
body {
  /* background: url(../img/fondo.jpg); */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background: rgb(42, 45, 60);
  background: linear-gradient(
    180deg,
    rgba(42, 45, 60, 1) 0%,
    rgba(0, 0, 0, 1) 100%,
    rgba(246, 169, 27, 1) 100%
  );
}

/* .miOneCard {
  padding: 4%;
  text-align: center;
  margin: 3%;
  display: inline-flex;
  box-shadow: 14px 14px 5px -1px rgba(0, 0, 0, 0.42);
} */

.miOneCard {
  text-align: center;
  margin: 3%;
  display: inline-flex;
  box-shadow: 14px 14px 5px -1px rgba(0, 0, 0, 0.42);
  background-color: #080b14;
  border-radius: 33px 33px 33px 33px;
  -moz-border-radius: 33px 33px 33px 33px;
  -webkit-border-radius: 33px 33px 33px 33px;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #242e3c;
  --bs-btn-border-color: #ffffff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3b5a87;
  --bs-btn-hover-border-color: #38557e;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4a6b9b;
  --bs-btn-active-border-color: #385278;
  --bs-btn-active-shadow: inset 0 3px 5pxrgba (0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #44689f;
  --bs-btn-disabled-border-color: #465e81;
}
footer {
  background-color: #080b14;
  bottom: 0;
  width: 100%;
  color: #fff;
  align-self: flex-end;
  margin-top: 10%;
  position: absolute;
}
.imgCard {
  width: 100px;
  height: 180px;
}
.cardPeli {
  margin-bottom: 15% !important;
}
.formAM {
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 5%;
  margin-bottom: 15%;
  background-color: #fff;
  padding: 3%;
  box-shadow: 14px 14px 5px -1px rgba(0, 0, 0, 0.42);
  border-radius: 33px 33px 33px 33px;
  -moz-border-radius: 33px 33px 33px 33px;
  -webkit-border-radius: 33px 33px 33px 33px;
  border: 0px solid #000000;
}
.menu {
  background-color: #080b14 !important;
}
.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: #fff !important;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
.volver {
  float: right;
  text-decoration: none;
  color: #616060;
}
